#language{
    padding-right: 20%;
    padding-left: 20%;
   
    background-color: #ffff;
}

body{

    font-family: 'Titillium Web', sans-serif;
    padding-top: 0%;
    font-size:larger;
}
h1{
    font-size: 2rem;
    color: #000;
    text-align: center;
    padding-bottom: 5%;
    background-color: #ffa80b;
   

}
.btn{
    font-size: 1rem;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 900;
    color: #000;
    background-color: #ffa80b;
    letter-spacing: 0.05rem;
}
/* img{
    width: 50%;
    align-self: center;
} */

body{
   background-color: #ffff; 
    /* background-color: #ffa80b; */
}


#image {
    width: 100%;
    display: block;
    margin: auto;
   
    background-color: #ffff;
}
p{
    background-color: #ffff;
    font-size: 1rem;
}

#bungo{
    position: sticky; 
    top: 0%;
    position: -webkit-sticky; 
    background-color: #ffa80b;
    display: block;
    margin: auto;
    width: 100%;
    height: 0%;
    
}

#sungo
{
    padding-top: 2%;
    padding-bottom: 2%;
   width: 25%;
   position: relative;
   display: block;
   margin: auto;
   background-color: #ffa80b;
}

#footer{
    background-color: #ffa80b;
    
}

.footer-image{
    width: 14%;
    margin: 9%;
    
}

#check-us-on {
    display: block;
    margin: auto;
    background-color : #ffa80b;
    padding: 2%;
    text-align: center;
    font-size: 1rem;
   
}